
<% if current_user.stripe_uid.present? %>
    <h1>$<%= @balance.pending.first["amount"].to_f/100 %></h1>  
<% else %>
       <a href="https://connect.stripe.com/oauth/authorize?response_type=code&client_id=<%= ENV['STRIPE_CONNECT_CLIENT_ID'] %>&scope=read_write">set up my free stripe account</a>
<% end %>



