

<div class = "bg-sign">
    <div class= "container">
        <div class="row d-flex justify-content-center align-items-center" style="height:100vh">
            <div class="card col-md-6 bg-white p-3 text-secondary">
    	       <h5>Avant d'ajouter un produit, merci d'indiquer vos coordonnées bancaires chez notre partenaire de paiement STRIPE afin que nous puissions vous reverser le produit de vos ventes</h5>
    	       <a class="btn btn-primary text-uppercase" href="https://connect.stripe.com/oauth/authorize?response_type=code&client_id=<%= ENV['STRIPE_CONNECT_CLIENT_ID'] %>&scope=read_write">
                Mon Compte Stripe
    	       </a>
            </div>
        </div>
    </div>
</div>



