<section class="sct-color-1" id="sct_products">
    <div class="container">
        <div class="row">
        	<div class="card col-lg-3 order-lg-1 my-5">
                <%= render 'profiles/profilecard' %>
            </div>

            <div class="col-lg-9 order-lg-2 p-5">
				<% if user_has_a_wishlist? %>
    						<h2 class="pb-5"> Mes articles préférés </h2>
    			<%else%>
					        <h3>Vous n'avez aucun produit dans votre Babylist </h3>
					        <h5>Pour ajouter des produits, cliquez simplement sur le petit coeur situé en bas de chaque article </h5>
			    <%end%>
                <div class="row">

                    		<%= render partial: 'wishlist_grid', locals: { filter_products: @wishlist_products_in_stock} %>

                </div>
            </div>
        </div>
    </div>
</section>
