console.log("coucou");
var messages = document.getElementById("card-messages");
console.log(messages);

document.getElementById("card-messages").insertAdjacentHTML("afterend", "<div class='border border-light rounded p-2 mx-4 alert-danger'><strong>Votre message a bien été envoyé</strong></div>");
