<div class="container">

  <div class="row">

<!-- User Profile-->

    <div class="card col-lg-3 my-5">
        <%= render 'profiles/profilecard' %>
    </div>

<!-- User Product-->

	<div class="col-lg-9 p-5">
		<div class="container-fluid">
        <div class="tabs tabs--style-2">
            <ul class="nav nav-tabs justify-content-center">
                <li class="nav-item">
                    <a href="#tab_default_1" data-toggle="tab" class="nav-link active text-uppercase strong-1000">Mes articles en vente</a>
                </li>
            </ul>

            <div class="tab-content pt-0">

                <%= render 'profiles/productscards' %>

            </div>
        </div>
    	</div>
    </div>

  </div>

</div>
