<div class="container">

  <div class="row">

<!-- User Profile-->    

    <div class="card col-lg-3 order-lg-1 mt-5">

    <%= render 'profiles/profilecard' %>

    </div>

<!-- User Product-->    

    <div class="col-lg-9 order-lg-2 p-5">

    <%= render 'profiles/productscards' %>

    </div>

  </div>

</div>