<div class="tab-pane" id="tab_default_2">
    <div class="container py-5">
    	<div class="row">
        	<div class="col-md-6">
            	<%= render 'children/edit_form' %>
        	</div>
	        <div class="col-md-6">
	        	<%= image_tag("form_product.jpg", class:"img-fluid edit-img") %>
	        </div>
    	</div>
	</div>
</div>
