<!DOCTYPE html>
<html>
    <head>
        <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    </head>
    <body>
    <h1> Hello <%= @seller.profile.first_name %>!</h1>
        <p>
              Un de tes produits a été reservé. Féliciation. <br>
              Contact sans tarder ton acheteur afin de lui livrer le produit dans les meilleurs conditions.
        </p>

        <p>
              Pour accéder à la réservation, connecte-toi via : <%= @url %>.
        </p>

        <p> À très vite sur badaboum !</p>

    </body>
</html>
