<!DOCTYPE html>
<html>
    <head>
        <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    </head>
    <body>
    <h1> Hello <%= @seller.profile.first_name %>!</h1>
        <p>
             Une de vos réservation a été annulée.  <br>
             Connectez vous à <%= @url %> pour valider cette annulation et remettre votre produit en vente.
        </p>

        <p>
             Si vous avez déjà livré votre produit et que votre acheteur a annulé par erreur votre transaction, ouvrez un litige  <%= @url %>
        </p>

        <p> À très vite sur badaboum !</p>

    </body>
</html>
