<!DOCTYPE html>
<html>
    <head>
        <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    </head>
    <body>
    <h1> Hello!</h1>
        <p>
             L'annulation de la réservation est validée.
        </p>

        <p> Ton produit est à nouveau visible sur Badaboum !
             <%= @url %>.
        </p>

        <p> À très vite sur badaboum !</p>
    </body>
</html>
