<h2 style="color:#009499; font-size:22px; padding-top:12px;">
   Hello <%= @seller.profile.first_name %> !  </h2>

<div align="left" class="article-content">
    <p>Un de tes produits a été reservé. Félicitations. <br>
              Contacte sans tarder ton acheteur afin de lui livrer le produit dans les meilleurs conditions.
    <p>
        Pour accéder à la réservation, connecte-toi via : <%= @url %>.

    </p>
    <p>
        À très vite sur badaboum !
    </p>
</div>
