<h2 style="color:#009499; font-size:22px; padding-top:12px;">
   Hello <%= @seller.profile.first_name %> !  </h2>

<div align="left" class="article-content">
    <p>Une de vos réservation a été annulée.  <br>
             Connectez vous à <%= @url %> pour valider cette annulation et remettre votre produit en vente.
    <p>
        Si vous avez déjà livré votre produit et que votre acheteur a annulé par erreur votre transaction, ouvrez un litige  <%= @url %>
    </p>
    <p>
        À très vite sur badaboum !
    </p>
</div>
