<h2 style="color:#009499; font-size:22px; padding-top:12px;">
   Hello à toi Badaboumer !  </h2>

<div align="left" class="article-content">
    <p>L'annulation de la réservation est validée.
    <p>
        Ton produit est à nouveau visible sur Badaboum !<br>
                     <%= @url %>
    </p>
    <p>
        À très vite sur badaboum !
    </p>
</div>
