<h2 style="color:#009499; font-size:22px; padding-top:12px;">
   Hello <%= @seller.profile.first_name %> !  </h2>

<div align="left" class="article-content">
    <p>Tu viens de recevoir un commmentaire sur ton article en ligne. </p>
    <p>
        Voici le commentaire de ton utilisateur : <%= @comment.content %>.<br>
        Pour répondre au commentaire de ton interlocuteur, connecte-toi via : <%= @url %>.

    </p>
    <p>
        À très vite sur badaboum !
    </p>
</div>
