<h2 style="color:#009499; font-size:22px; padding-top:12px;">
   Hello <%= @seller.profile.first_name %> !  </h2>

<div align="left" class="article-content">
    <p>
        Ton litige a été traité et ta vente a été annulée.
    </p>

    <p>
        Pour suivre tes ventes, connecte-toi via : <%= @url %>.
    </p>
    <p>
        À très vite sur badaboum !
    </p>
</div>
