<h2 style="color:#009499; font-size:22px; padding-top:12px;">
   Hello <%= @user.profile.first_name %> !  </h2>

<div align="left" class="article-content">
    <p>Le litige a été traité et ton achat a été confirmé. <br>
        Tu ne seras pas débité.
    </p>
    <p>
        Pour suivre tes commandes, connecte-toi via : <%= @url %>.

    </p>
    <p>
        À très vite sur badaboum !
    </p>
</div>
