<!DOCTYPE html>
<html>
    <head>
        <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    </head>
    <body>
    <h1> Hello!</h1>
        <p>
              Ta demande d'annulation a bien été prise en compte. Tu ne sera pas débité. 
        </p>

        <p>
            L'annulation aura le statut 'en cours' jusqu'à ce que le vendeur confirme qu'elle est bien valide. 

             Connecte-toi sur le site pour suivre le statut des réservations: <%= @url %>.
        </p>

        <p> À très vite sur badaboum.com !</p>
    </body>
</html>
