<h2 style="color:#009499; font-size:22px; padding-top:12px;">
   Hello à toi Badaboumer !  </h2>

<div align="left" class="article-content">
    <p>Tu viens de réserver un produit sur Badaboum. Félicitations.</p>
    <p>
        Tu as 30 jours pour récupérer ton produit auprès du vendeur. <br>
        Connecte-toi sur le site pour contacter le vendeur : <%= @url %>.
    </p>
    <p>
        À très vite sur badaboum.com !
    </p>
</div>
