<!DOCTYPE html>
<html>
    <head>
        <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    </head>
    <body>
    <h1> Hello!</h1>
        <p>
              Tu viens de reserver un produit sur Badaboum. Féliciation.
        </p>

        <p>
             Tu as 30 jours pour récupérer ton produit auprès du vendeur. 
             Connecte-toi sur le site pour contacter le vendeur : <%= @url %>.
        </p>

        <p> À très vite sur badaboum.com !</p>
    </body>
</html>
