<!DOCTYPE html>
<html>
    <head>
        <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    </head>
    <body>
    <h1> Hello!</h1>
        <p>
              Tu viens de récupérer ton produit. Féliciation.
        </p>

        <p>
             La transaction a été validée et ton compte bancaire sera débité dans les prochains jours
             Pour suivre tes commandes : <%= @url %>.
        </p>

        <p> À très vite sur badaboum.com !</p>
    </body>
</html>
