<h2 style="color:#009499; font-size:22px; padding-top:12px;">
   Hello à toi Badaboumer !  </h2>

<div align="left" class="article-content">
    <p>L'annulation de ta réservation est validée par le vendeur.</p>
    <p>
        Tu peux donc reprendre ton activité préférée et chiner la bonne affaire sur Badaboum : <%= @url %>.
    </p>
    <p>
        À très vite sur badaboum.com !
    </p>
</div>
