<h2 style="color:#009499; font-size:22px; padding-top:12px;">
   Hello à toi Badaboumer !  </h2>

<div align="left" class="article-content">
    <p>Tu viens de récupérer ton produit. Félicitations.</p>
    <p>
        La transaction a été validée et ton compte bancaire sera débité dans les prochains jours. Pour suivre tes commandes : <%= @url %>.
    </p>
    <p>
        À très vite sur badaboum !
    </p>
</div>
