<h2 style="color:#009499; font-size:22px; padding-top:12px;">
   Hello à toi Badaboumer !  </h2>

<div align="left" class="article-content">
    <p>Ta demande d'annulation a bien été prise en compte. Tu ne sera pas débité. </p>
    <p>
        L'annulation aura le statut 'en cours' jusqu'à ce que le vendeur confirme qu'elle est bien valide. <br>
        Connecte-toi sur le site pour suivre le statut des réservations: <%= @url %>.
    </p>
    <p>
        À très vite sur badaboum.com !
    </p>
</div>

