<!DOCTYPE html>
<html>
    <head>
        <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    </head>
    <body>
    <h1> Hello!</h1>
        <p>
              Tu viens de confirmer un achat sur Badaboum.
        </p>

        <p>
              N'hésite pas à contacter votre interlocuteur pour plus d'informations! Vous pouvez me connecter via : <%= @url %>.
        </p>

        <p> À très vite sur badaboum.com !</p>
    </body>
</html>
