<!DOCTYPE html>
<html>
    <head>
        <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    </head>
    <body>
    <h1> Hello à toi Badaboumer !</h1>
        <p>
              Tu viens de recevoir un message privé.
        </p>

        <p>
              Accéder à mes messages privés : <%= @url %>.
        </p>

        <p> À très vite sur badaboum.com !</p>
    </body>
</html>
