<h2 style="color:#009499; font-size:22px; padding-top:12px;">
   Hello à toi Badaboumer !  </h2>

<div align="left" class="article-content">
    <p> Tu viens de recevoir un message privé.</p>
    <p>
        Pour accéder à tes messages privés, clique ici : <%= @url %>. </a>
    </p>
    <p>
        À très vite sur badaboum.com !
    </p>
</div>
