<h2 style="color:#009499; font-size:22px; padding-top:12px;">
   Bienvenue chez nous !  </h2>

<div align="left" class="article-content">
    <p> Tu t'es inscrit sur badaboum en utilisant l'e-mail suivant : <%= @user.email %>.</p>
    <p>
        Pour accéder à ton espace client, connecte-toi via : <%= @url %>. </a>
    </p>
    <p>
        À très vite sur badaboum !
    </p>
</div>
