
<% if @comment.errors.any? %>
  <div class="alert alert-danger mt-3" role="alert">
    <p>Comment creation process failed due to:</p>
      <ul>
      <% @comment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_tag(product_comments_path(params[:id]), method: :create) do%>
  <%= text_area_tag 'content', '', class: 'form-control mt-3', placeholder: 'Commentaire'%>
  	<div class="text-right">
  <%= submit_tag "Soumettre mon commentaire", class: "btn btn-styled btn-base-1 btn-circle mt-4" %>
	</div>
<%end%>