<div class="container pt-3">
    <div class="row">
        <div class="col-md-4 my-3">
            <%= render 'conversations' %>
        </div>

        <div class="col-md-8">
            <div id="content"></div>
        </div>
    </div>
</div>
