
<div class="container pt-3">
    <div class="row">
        <div class="col-md-4 my-3" id="list">
            <div class="card border mx-auto">
                <div class="card-header"><h3>Mes conversations</h3></div>
                <div class="list-group">
                    <%= render 'conversations' %>
                </div>
            </div>
        </div>

        <div class="col-md-8">
            <div id="content">
                <h2 class="mt-4"><i class="fas fa-inbox"></i> Bienvenue dans votre messagerie privée</h2>
                <p><i class="fas fa-arrow-circle-left text-primary"></i> Pour envoyer un message ou consulter les messages, cliquez sur le prénom du badaboumer.</p>
            </div>
        </div>
    </div>
</div>

