<div class="container mt-5 mb-5">
	<h3><i class="far fa-id-card mt-5 "></i> - Index des commandes </h3>
    <div class="container d-flex justify-content-end my-3">
        <%= link_to "Retour à l'espace administrateur", admin_root_path, class:"btn btn-secondary btn-base-1 mb-2" %>
    </div>
    
    <%= render 'disputes' %>

    <%= render 'orders' %>
</div>
