

<section class="slice sct-color-1 border-top" id="scrollToSection">

<div class="container">
        <div class="section-title section-title--style-1 text-center mb-2">
                                <h3 class="section-title-inner">
                                    <span> Comment Badaboum fonctionne ? </span>
                                </h3>
                                <span class="section-title-delimiter clearfix d-none"></span>
        </div>
<div class="tabs tabs--style-1 tabs--centered mt-5" role="tabpanel">
    <!-- Nav tabs -->
    <ul class="nav d-flex justify-content-center nav-pills nav-pills--rounded" role="tablist">
        <li class="nav-item" role="presentation">
            <a href="#tabThree-1" aria-controls="home" role="tab" data-toggle="tab" class="nav-link active text-center text-uppercase strong-500">
                <div class="nav-pill">
                    <span class="nav-pill-circle">1</span>
                </div>
            </a>
        </li>
        <li class="nav-item" role="presentation" class="">
            <a href="#tabThree-2" aria-controls="home" role="tab" data-toggle="tab" class="nav-link text-center text-uppercase strong-500">
                <div class="nav-pill">
                    <span class="nav-pill-circle">2</span>
                </div>
            </a>
        </li>
        <li class="nav-item" role="presentation" class="">
            <a href="#tabThree-3" aria-controls="home" role="tab" data-toggle="tab" class="nav-link text-center text-uppercase strong-500">
                <div class="nav-pill">
                    <span class="nav-pill-circle">3</span>
                </div>
            </a>
        </li>
        <li class="nav-item" role="presentation" class="">
            <a href="#tabThree-4" aria-controls="home" role="tab" data-toggle="tab" class="nav-link text-center text-uppercase strong-500">
                <div class="nav-pill">
                    <span class="nav-pill-circle">4</span>
                </div>
            </a>
        </li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content no-border d-flex justify-content-center">
        <div role="tabpanel" class="tab-pane active" id="tabThree-1">
            <div class="tab-body">
                <h5 class="mt-4 d-flex justify-content-center">
                    Je me crée un profil Badaboumer pour accéder à la plateforme !
                </h5>
            </div>
        </div>
        <div role="tabpanel" class="tab-pane" id="tabThree-2">
            <div class="tab-body text-center">
                <h5 class="mt-4 d-flex justify-content-center">
                    J'ajoute les produits qui m'intéressent à ma baby-list <br> ou j'ajoute les produits que je souhaite vendre à mon espace Boutique.
                </h5>
            </div>
        </div>
        <div role="tabpanel" class="tab-pane" id="tabThree-3">
            <div class="tab-body">
                <h5 class="mt-4 d-flex justify-content-center">
                    Je prends contact avec un Badaboumer et si je suis intéressée par un produit, je peux procéder au paiement.
                </h5>
                <h5 class="mt-4 d-flex justify-content-center">
                    Un Badaboumer souhaite acheter mon produit et a procédé au paiement, je procède à l'envoi.
                </h5>
            </div>
        </div>
        <div role="tabpanel" class="tab-pane" id="tabThree-4">
            <div class="tab-body">
                <h5 class="mt-4 d-flex justify-content-center">
                    J'ai bien reçu le produit, je peux maintenant pleinement profiter du produit.
                </h5>
                <h5 class="mt-4 d-flex justify-content-center">
                    J'ai envoyé le produit et j'ai été crédité du montant d'achat. Et BA-DA-BOUM !
                </h5>
            </div>
        </div>
    </div>
</div>
</div>
</section>

