
<a class="anchor" id="search_products"></a>
<div class="container mt-5">
    <div class="feature feature--boxed-border feature--bg-1">
                                            <h3 class="heading heading-6 strong-600 text-uppercase mb-0 mb-5"> Que recherchez-vous ?</h3>

                                <form role="form" class="form-default">
                                    <div class="row cols-md-space cols-sm-space cols-xs-space">
                                        <div class="col-lg-3">
                                            <div class="form-group mb-0">
                                                <select class="form-control form-control-lg">
                                                   <option>Age de l'enfant</option>
                                                   <option>0-6 mois</option>
                                                   <option>6-12 mois</option>
                                                   <option>12-18 mois</option>
                                                   <option>18-24 mois</option>
                                                </select>
                                           </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="form-group mb-0">
                                                <select class="form-control form-control-lg">
                                                   <option>Catégorie</option>
                                                   <option>Soins bébé</option>
                                                   <option>Poussettes</option>
                                                   <option>Chaises hautes & sièges auto</option>
                                                   <option>Mobilier enfant</option>
                                                   <option>Jeux & Jouets</option>
                                                   <option>Livres & Scolarité</option>
                                                   <option>Sécurité</option>
                                                   <option>Allaitement & Repas</option>
                                                   <option>Vêtements</option>
                                                </select>
                                           </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="form-group mb-0">
                                                <select class="form-control form-control-lg">
                                                   <option>Ville</option>
                                                   <option>Paris</option>
                                                </select>
                                           </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <button type="button" class="btn btn-styled btn-block btn-base-1">
                                                Rechercher
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
</div>
