<!-- Slider -->
<section class="swiper-js-container background-image-holder" data-holder-type="fullscreen" data-holder-offset="">
    <div class="swiper-container" data-swiper-autoplay="true" data-swiper-effect="fade" data-swiper-items="1" data-swiper-space-between="0">
        <div class="swiper-wrapper">
            <!-- Slide -->
            <div class="swiper-slide" data-swiper-autoplay="8000">
                <div class="bg-shoes slice holder-item holder-item-light has-bg-cover bg-size-cover" >
                    <span class="mask bg-dark alpha-5"></span>
                    <div class="container d-flex align-items-center">
                        <div class="col">
                            <div class="row justify-content-center text-center">
                                <div class="col-lg-8">
                                    <h2 class="heading display-3 strong-600 text-normal animated" data-animation-in="fadeInDownBig" data-animation-delay="200">
                                        Donnez une seconde vie aux affaires de vos enfants.
                                    </h2>
                                    <p class="lead strong-600 text-normal animated" data-animation-in="fadeInUpBig" data-animation-delay="200">
                                        Intégrez la communauté des Badaboumers et commencez à échanger vos produits de puériculture. 
                                    </p>

                                    <a href="https://goo.gl/9BbH7R" class="btn btn-styled btn-xl btn-base-1 btn-circle mt-5 animated" data-animation-in="fadeInUpBig" data-animation-delay="1000">
                                        Je découvre
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>