
<section class="slice sct-color-1 border-top" id="scrollToSection">
                        <div class="container">
                             <div class="section-title section-title--style-1 text-center mb-2">
                                <h3 class="section-title-inner">
                                    <span> Nos valeurs </span>
                                </h3>
                                <span class="section-title-delimiter clearfix d-none"></span>
                            </div>

                            <span class="clearfix"></span>

                            <div class="fluid-paragraph fluid-paragraph-sm c-gray-light strong-300 text-center">
                                Inscrivez-vous sur le site pour commencer à échanger avec la communauté des Badaboumers !
                            </div>

                            <div class="row cols-xs-space mt-5 cols-sm-space cols-md-space">
                                <div class="col-12 col-lg-4">
                                    <div class="icon-block icon-block--style-1-v5 px-4 text-center">
                                        <div class="block-icon">
                                            <%= image_tag("world.svg", class: "Icon 1") %>
                                        </div>
                                        <div class="block-content">
                                            <h3 class = "text-center">Promouvoir une consommation durable </h3>
                                            <p class = "text-center">
                                                Badaboum vous donne la possibilité de prolonger le cycle de vie des produits afin de réduire au minimum l'utilisation de ressources naturelles et de matières toxiques. 
                                            </p>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-12 col-lg-4">
                                    <div class="icon-block icon-block--style-1-v5 px-4 text-center">
                                        <div class="block-icon">
                                            <%= image_tag("parents.svg", class: "Icon 2") %>
                                        </div>
                                        <div class="block-content">
                                            <h3 class = "text-center">Recourir à l'économie collaborative </h3>
                                            <p class = "text-center">
                                                Badaboum s'appuie sur la solidarité entre parents en favorisant le partage et l'échange de biens. Partager, c'est donner une seconde vie aux produits.
                                            </p>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-12 col-lg-4">
                                    <div class="icon-block icon-block--style-1-v5 px-4 text-center">
                                        <div class="block-icon">
                                            <%= image_tag("balance.svg", class: "Icon 1") %>
                                        </div>
                                        <div class="block-content">
                                            <h3 class = "text-center"> Réduire la surconsommation </h3>
                                            <p class = "text-center">
                                               Badaboum propose une démarche active interrogeant nos réels besoins de consommation.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
