<div class="container">
    <h2>Alerts</h2>
        <div class="alert alert-primary" role="alert">
            This is a primary alert—check it out!
        </div>

        <div class="alert alert-secondary" role="alert">
            This is a secondary alert—check it out!
        </div>

        <div class="alert alert-success" role="alert">
            This is a success alert—check it out!
        </div>

        <div class="alert alert-danger" role="alert">
            This is a danger alert—check it out!
        </div>

        <div class="alert alert-warning" role="alert">
            This is a warning alert—check it out!
        </div>

        <div class="alert alert-info" role="alert">
            This is a info alert—check it out!
        </div>

        <div class="alert alert-light" role="alert">
            This is a light alert—check it out!
        </div>

        <div class="alert alert-dark" role="alert">
            This is a dark alert—check it out!
        </div>

    <h3>Link color </h3>

        <div class="alert alert-primary" role="alert">
            This is a primary alert with <a href="#" class="alert-link">an example link</a>. Give it a click if you like.
        </div>

    <h3>Additional content </h3>
        <div class="alert alert-success" role="alert">
            <h4 class="alert-heading">Well done!</h4>
            <p>Aww yeah, you successfully read this important alert message. This example text is going to run a bit longer so that you can see how spacing within an alert works with this kind of content.</p>
            <hr>
            <p class="mb-0">Whenever you need to, be sure to use margin utilities to keep things nice and tidy.</p>
        </div>

    <h3>Dismissable alerts </h3>

        <div class="alert alert-warning alert-dismissible fade show" role="alert">
          <strong>Holy guacamole!</strong> You should check in on some of those fields below.
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">×</span>
          </button>
        </div>

    <h2>Badges</h2>

        <span class="badge badge-primary">Primary</span>
        <span class="badge badge-secondary">Secondary</span>
        <span class="badge badge-success">Success</span>
        <span class="badge badge-danger">Danger</span>
        <span class="badge badge-warning">Warning</span>
        <span class="badge badge-info">Info</span>
        <span class="badge badge-light">Light</span>
        <span class="badge badge-dark">Dark</span>

    <h3>Pill badges</h3>

        <span class="badge badge-pill badge-primary">Primary</span>
        <span class="badge badge-pill badge-secondary">Secondary</span>
        <span class="badge badge-pill badge-success">Success</span>
        <span class="badge badge-pill badge-danger">Danger</span>
        <span class="badge badge-pill badge-warning">Warning</span>
        <span class="badge badge-pill badge-info">Info</span>
        <span class="badge badge-pill badge-light">Light</span>
        <span class="badge badge-pill badge-dark">Dark</span>

    <h3>Links</h3>

        <a href="#" class="badge badge-primary">Primary</a>
        <a href="#" class="badge badge-secondary">Secondary</a>
        <a href="#" class="badge badge-success">Success</a>
        <a href="#" class="badge badge-danger">Danger</a>
        <a href="#" class="badge badge-warning">Warning</a>
        <a href="#" class="badge badge-info">Info</a>
        <a href="#" class="badge badge-light">Light</a>
        <a href="#" class="badge badge-dark">Dark</a>

    <h3>size</h3>


        <span class="badge badge-primary">Normal</span>
        <span class="badge badge-md badge-primary">Medium</span>
        <span class="badge badge-lg badge-primary">Large</span>

        <span class="delimiter"></span>

        <span class="badge badge-pill badge-success">Normal</span>
        <span class="badge badge-md badge-pill badge-success">Medium</span>
        <span class="badge badge-lg badge-pill badge-success">Large</span>

    <h3>Inline with text </h3>

        <div class="">
            <span class="badge badge-inline badge-pill bg-base-1">New</span>
            <span>Lorem ipsum dolor sit amet consectetur adipiscing.</span>
        </div>




</div>
