

<div class="container border-radius my-5">
    <div class="row">
    <div class="col-md-4 mb-5">
    <div class="card" style="width: 18rem;">

        <div class="profile-picture profile-picture--style-2">
            <img class="img-center" src="/assets/profile-default-f5c989bbbc36d50d0521891a2269fafe977037de0046bfdde6364592ef906526.png">
        </div>  
            <h5 class="card-title text-center">Name</h5>
            <p class="card-text text-center">Some quick example text to build on the card title and make up the bulk of the card's content.</p>

            <section class="slice sct-color-1 border-top" id="scrollToSection">
            <%= image_tag("adress.svg", width: "35px") %><h6 class="card-title">Adresse</h6>
            <%= image_tag("email.png", width: "35px") %>
            <h6 class="card-title">Email</h6>
            </section>

            <section class="slice sct-color-1 border-top" id="scrollToSection">
            <%= image_tag("baby.svg", width: "40px") %><h6 class="card-title">Nombre d'enfants</h6>
            </section>

    <a href="#" class="btn btn-primary">Go somewhere</a>

        </div>
    </div>

    <div class="col-md-8 mb-5">
    <div class="card">
        <h2>A droite</h2>
        </div>
    </div>
    </div>
        </div>



</div>