<div class="row">
  <div class="col-sm-4">
    <div class="card">
      <div class="card-body text-center">
         <span style="font-size: 48px; color: #309396;">
      <i class="fas fa-credit-card"></i>
      </span>
        <p class="card-text">Votre achat est confirmé.  Contactez le vendeur pour récupérer votre produit. L'argent est conservé sur notre plateforme pendant maximum 30 jours</p>
        
      </div>
    </div>
  </div>

  <div class="col-sm-4">
    <div class="card">
      <div class="card-body text-center">
        <span style="font-size: 48px; color: #309396;">
      <i class="fas fa-handshake"></i>
    </span>
        <p class="card-text">Vous avez déjà récupéré votre produit ? Pensez à noter le vendeur et à approuver la transaction afin que nous puissions payer le vendeur au plus vite.  </p>
      </div>
    </div>
  </div>

  <div class="col-sm-4">
    <div class="card">
      <div class="card-body text-center">
         <span style="font-size: 48px; color: #309396;">
        <i class="fas fa-undo"></i>
      </span>
        <p class="card-text"> Vous avez changé d'avis ou n'avez pas pu récupérer votre bien ? Annulez votre commande dans les 30 jours suivaant votre paiement. </p>
       
      </div>
    </div>
  </div>
</div>