<div class="row">
  <div class="col-sm-4">
    <div class="card">
      <div class="card-body text-center">
         <span style="font-size: 48px; color: #309396;">
      <i class="fas fa-credit-card"></i>
      </span>
        <p class="card-text">Vous avez reçu une reservation pour l'un de vos produit ? Contactez au plus vite votre acheteur afin de lui livrer votre produit</p>
        
      </div>
    </div>
  </div>

  <div class="col-sm-4">
    <div class="card">
      <div class="card-body text-center">
        <span style="font-size: 48px; color: #309396;">
      <i class="fas fa-handshake"></i>
    </span>
        <p class="card-text">Vous avez livré votre produit ? L'acheteur a valider la reservation ? Badaboom a pris ca sommission ? Youpiiiiii  </p>
      </div>
    </div>
  </div>

  <div class="col-sm-4">
    <div class="card">
      <div class="card-body text-center">
         <span style="font-size: 48px; color: #309396;">
        <i class="fas fa-undo"></i>
      </span>
        <p class="card-text"> Vous n'êtes pas disponible pour la vente ou l'acheteur a changé d'avis ? Annuler la reservation dans les 30 jours. </p>
       
      </div>
    </div>
  </div>
</div>