
<br><br>  
<div class="row">
	
	<%= render 'seller' %>


	<div class="col-lg-7">
	<%= render 'order_preview' %>
	<br>
	<%= render 'edit_profile' %>
	<br>
	<%= render 'payment_method' %>
	<br>

	</div>
</div>

                                                


	



