
.bg-shoes {
  background-image: image-url('shoes');
  background-position: bottom center;
}

.bg-sign {
  background-image: image-url('signalt');
  background-position: bottom center;
  height: auto;
  width: auto;
}
