.margin-navbar {
  margin-bottom: 5.5em;
}

a.anchor {
    display: block;
    position: relative;
    top: -5.5em;
    visibility: hidden;
}

.no-margin-right i {
  margin-right:0 !important;
}

.tabs--style-2 .nav-tabs .disable-hover .nav-link:hover {
  border-bottom: none;
  background: transparent !important;
  color: #6c757d;
}

.user_icon img {
    border-radius: 100%;
    border: 4px solid rgba(0, 0, 0, 0.1)
}


.default_image {
	max-height: 300px!important;
}

.police_logo {
  font-family: 'Boogaloo', cursive;
  color: #45b1b4;
}

