<p>Bonjour <%= @email %>!</p>

<% if @resource.try(:unconfirmed_email?) %>
  <p>Nous vous informons que votre email a été changé pour: <%= @resource.unconfirmed_email %>.</p>
<% else %>
  <p>Nous vous informons que votre email a été changé pour:  <%= @resource.email %>.</p>
<% end %>

<p>Cordialement,</p>
<p>Les Badaboumers</p>

<div class="image">
  <%= image_tag('email-logo.png') %>
</div>
