<p>Bonjour <%= @resource.email %>!</p>
<p>Nous avons reçu une demande de changement de votre mot de passe. Merci de cliquer sur le lien suivant pour changer votre mot de passe</p>
<p><%= link_to 'Changer mon mot de passe', edit_password_url(@resource, reset_password_token: @token) %></p>
<p>Si vous n'êtes pas à l'origine de la demande, merci d'ignorer ce mail.</p>
<p>Votre mot de passe ne sera pas changé tant que vous n'activez pas le lien de ce mail.</p>
<p>Cordialement,</p>
<p>Les Badaboumers</p>
