<!-- page show.html.erb - tabs -->
<div class="tab-pane" id="tab_default_3">
    <div class="fluid-paragraph py-2">
        <div class="row">
            <div class="col-md-6">
                <table class="table table-no-border table-responsive">
                    <tbody>
                        <tr>
                            <td><strong>Sizes</strong></td>
                            <td>M, L, XL, XXL</td>
                        </tr>
                        <tr>
                            <td><strong>Prodused in</strong></td>
                            <td>USA</td>
                        </tr>
                        <tr>
                            <td><strong>Material</strong></td>
                            <td>plastic, textile</td>
                        </tr>
                        <tr>
                            <td><strong>Colors</strong></td>
                            <td>red, black, grey</td>
                        </tr>
                        <tr>
                            <td><strong>Dimension</strong></td>
                            <td>20x40x33</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="col-md-6">
                <table class="table table-no-border table-responsive">
                    <tbody>
                        <tr>
                            <td><strong>Sizes</strong></td>
                            <td>M, L, XL, XXL</td>
                        </tr>
                        <tr>
                            <td><strong>Prodused in</strong></td>
                            <td>USA</td>
                        </tr>
                        <tr>
                            <td><strong>Material</strong></td>
                            <td>plastic, textile</td>
                        </tr>
                        <tr>
                            <td><strong>Colors</strong></td>
                            <td>red, black, grey</td>
                        </tr>
                        <tr>
                            <td><strong>Dimension</strong></td>
                            <td>20x40x33</td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div> <!-- row -->
    </div>
</div>
