<div class="tab-pane" id="tab_default_2">
    <div class="container py-5">
        <div class="row">
        	<div class="col-6">
 				<h5 class="text-primary mt-5">Mettre en ligne un article.</h5>
          		<h6 class="text-secondary">Ajoute de belles photos de l'article, écris une description détaillée, puis fixe le prix et indique l'état de ton produit, la taille et la catégorie concernées.</h6>
          		<h6 class="text-secondary">A noter qu'il faut que tu ajoutes en même temps toutes les photos de l'article.</h6>
          		<h5 class="text-primary mt-4">Configure ton profil.</h5>
          		<h6 class="text-secondary">Paramètre ton compte utilisateur, tu renforceras la confiance des autres Badaboumers.</h6>
         		<h5 class="text-primary mt-4">Attends les acheteurs.</h5>
          		<h6 class="text-secondary">Sois prêt à répondre aux questions de potentiels acheteurs en commentaires ou en messages privés. Tu seras notifié de toutes questions.</h6>
         		<h5 class="text-primary mt-4">Article vendu.</h5>
          		<h6 class="text-secondary">Envoie l'article selon le mode de livraison convenu.</h6>
          		<h5 class="text-primary mt-4">Article reçu!</h5>
          		<h6 class="text-secondary">Dès que l'acheteur clique sur "Valider la commande", le paiement s'enclenche. Les transferts d’argent peuvent mettre jusqu’à 4 jours ouvrés pour apparaître dans ton compte bancaire (cela peut dépendre du mode/transfert bancaire utilisé).</h6>
	        </div>
	        <div class="col-6">
	            <%= image_tag("form.jpg", width: "500") %>
	        </div>
	    </div>
    </div>
</div>