
<div id="mapid"></div>


<script src=“https://unpkg.com/leaflet@1.4.0/dist/leaflet.js”
  integrity=“sha512-QVftwZFqvtRNi0ZyCtsznlKSWOStnDORoefr1enyq5mVL4tmKB3S/EnC3rRJcxCPavG10IcrVGSmPh6Qw5lwrg==”
  crossorigin=“”></script>

<script>

var latitude = '<%=@product.seller.profile.latitude%>'
console.log(latitude)
var longitude = '<%= @product.seller.profile.longitude %>'
console.log(longitude)

var mymap = L.map('mapid').setView([latitude, longitude], 13);

L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
        attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
    }).addTo(mymap);

//var marker = L.marker([51.5, -0.09]).addTo(mymap);
var marker = L.marker([latitude, longitude]).addTo(mymap); 



</script>






