<!-- page show.html.erb - product images -->
    <div class="swiper-js-container">
        <div class="swiper-container" data-swiper-items="1" data-swiper-space-between="0">
            <div class="swiper-wrapper pb-5">
                <% @product.pictures.each do |pic| %>
                <div class="swiper-slide">
                    <%= image_tag pic, alt:@product.title, class:"img-fluid" %>
                </div>
                <% end %>

            </div>
            <div class="swiper-pagination"></div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
        </div>
    </div>
