<!-- page show.html.erb - product images -->
    <div class="swiper-js-container">
        <div class="swiper-container" data-swiper-items="1" data-swiper-space-between="0">
            <div class="swiper-wrapper pb-5">

                <% if @product.pictures.attached? %>

                    <% @product.pictures.each do |pic| %>
                        <div class="swiper-slide">
                            <%= image_tag pic.variant(resize:'500x500'), alt:@product.title, class:"img-fluid" %>
                        </div>
                    <% end %>
                <% else %>
                    <%= image_tag "shoes.jpg", class:"img-fluid default_image" %>
                <% end %>

            </div>
            <div class="swiper-pagination"></div>
        </div>
    </div>
