<!-- Filter by brand -->
<div class="col-lg-3">
    <div class="form-group mb-0">
        <%= select_tag(:brand, options_for_select(@brand_array), prompt: "Marque" , :class => 'form-control') %>
    </div>
</div>