<!-- Product categories menu -->
	    <div style="display:none" class="sidebar-object b-xs-bottom pb-4 mb-4">
	        <h2 class="sidebar-object-title">
	            <span>Catégorie</span> 
	        </h2>
	        <%= select_tag(:category, options_for_select(@nested_array_of_cat, selected: @current_category), :class => 'form-control')%>     
	    </div>