  <!-- Filter by price - Range slider -->
	    <div class="sidebar-object b-xs-bottom pb-4 mb-4">
	        <h2 class="sidebar-object-title">
	            <span>Filter</span> by price
	        </h2>
	        <div class="range-slider-wrapper mt-1">
	            <!-- Range slider container -->
	            <div id="input-slider-range" data-range-value-min="1000" data-range-value-max="5000" class="noUi-target noUi-ltr noUi-horizontal noUi-background"><div class="noUi-base"><div class="noUi-origin noUi-connect" style="left: 12.5%;"><div class="noUi-handle noUi-handle-lower"></div></div><div class="noUi-origin noUi-background" style="left: 100%;"><div class="noUi-handle noUi-handle-upper"></div></div></div></div>

	            <!-- Range slider values -->
	            <div class="row">
	                <div class="col-6">
	                    <span class="range-slider-value value-low" data-range-value-low="1500" id="input-slider-range-value-low">1500.00</span></div>

	                <div class="col-6 text-right">
	                    <span class="range-slider-value value-high" data-range-value-high="5000" id="input-slider-range-value-high">5000.00</span></div>
	            </div>
	        </div>
	    </div>