<div class="sidebar-object b-xs-bottom pb-4 mb-4">
	        <h2 class="sidebar-object-title">
	            <span>Filter</span> by color
	        </h2>

	        <!-- Filter by color -->
	        <ul class="list-inline checkbox-color checkbox-color-circle mb-0">
	            <li>
	                <input type="radio" id="color-1" name="color" checked="">
	                <label style="background: #38393d;" for="color-1" onclick="galleryTop.slideTo(0)" data-toggle="tooltip" data-original-title="Black"></label>
	            </li>
	            <li>
	                <input type="radio" id="color-2" name="color">
	                <label style="background: #bfc0c2;" for="color-2" onclick="galleryTop.slideTo(1)" data-toggle="tooltip" data-original-title="Silver"></label>
	            </li>
	            <li>
	                <input type="radio" id="color-3" name="color">
	                <label style="background: #eabfb9;" for="color-3" onclick="galleryTop.slideTo(2)" data-toggle="tooltip" data-original-title="Rose"></label>
	            </li>
	            <li>
	                <input type="radio" id="color-4" name="color">
	                <label style="background: #000000;" for="color-4" onclick="galleryTop.slideTo(3)" data-toggle="tooltip" data-original-title="Jet Black"></label>
	            </li>
	            <li>
	                <input type="radio" id="color-5" name="color">
	                <label style="background: #dcc4ac;" for="color-5" data-toggle="tooltip" data-original-title="Gold"></label>
	            </li>
	            <li>
	                <input type="radio" id="color-6" name="color">
	                <label style="background: #2189db;" for="color-6" data-toggle="tooltip" data-original-title="Blue"></label>
	            </li>
	            <li>
	                <input type="radio" id="color-7" name="color">
	                <label style="background: #ac92d9;" for="color-7" data-toggle="tooltip" data-original-title="Purple"></label>
	            </li>
	            <li>
	                <input type="radio" id="color-8" name="color">
	                <label style="background: #ef574a;" for="color-8" data-toggle="tooltip" data-original-title="Red"></label>
	            </li>
	        </ul>
	    </div>
