  <!-- Filter by price - Range slider -->
	    <div class="sidebar-object b-xs-bottom pb-4 mb-4">
	        <h2 class="sidebar-object-title">
	            <span>Filtrer</span> par prix
	        </h2>
        	<%= select_tag(:price, options_for_select([['Croissant', 'asc'], ['Décroissant', 'desc']]), prompt: "Choisir le filtre" , :class => 'form-control') %>
	       

	    </div>