	 <!-- Moteur de recherche par ville -->
    	<div class="sidebar-object b-xs-bottom pb-4 mb-4">
	       	 <h2 class="sidebar-object-title">
	            <span>Filter par ville</span>
	      	 </h2>

	       	 <form role="form" class="sidebar-search-widget">
	            <input class="form-control input-lg" type="text" placeholder="Votre ville">
	            <button type="submit"><i class="fa fa-search"></i></button>
	        </form>
    	</div>
