
	    
	    <!-- Filter by material -->
	    <div class="sidebar-object b-xs-bottom pb-4 mb-4">
	        <h2 class="sidebar-object-title">
	            <span>Filter by material</span>
	        </h2>

	        <div class="filter-checkbox">
	            <div class="checkbox">
	                <input type="checkbox" id="chkFilterMaterialCotton">
	                <label for="chkFilterMaterialCotton">Cotton</label>
	            </div>

	            <div class="checkbox">
	                <input type="checkbox" id="chkFilterMaterialMicrofiber">
	                <label for="chkFilterMaterialMicrofiber">Microfiber</label>
	            </div>

	            <div class="checkbox">
	                <input type="checkbox" id="chkFilterMaterialGoretex">
	                <label for="chkFilterMaterialGoretex">GoreText</label>
	            </div>

	            <div class="checkbox">
	                <input type="checkbox" id="chkFilterMaterialLeather">
	                <label for="chkFilterMaterialLeather">Leather</label>
	            </div>

	            <div class="checkbox">
	                <input type="checkbox" id="chkFilterMaterialNylon">
	                <label for="chkFilterMaterialNylon">Nylon</label>
	            </div>
	        </div>
	    </div>