<!-- Product categories menu -->
	    <div class="sidebar-object b-xs-bottom pb-4 mb-4">
	        <h2 class="sidebar-object-title">
	            <span>Catégories</span>
	        </h2>

	        <div class="filter-checkbox">
	        	<% @categories.each do |category| %>
	        		<div class="checkbox">			
	  					<%= check_box_tag 'category_id', category.id -%>
	  					<label><%= category.title %></label>
  					</div>
				<% end %>
	            
	        </div>
	    </div>