 <!-- Filter by size -->
	    <div class="sidebar-object b-xs-bottom pb-4 mb-4">
	        <h2 class="sidebar-object-title">
	            <span>Tailles</span>
	        </h2>

	        <div class="filter-checkbox">
	        	<% @sizes.each do |size| %>
	        		<div class="checkbox">			
	  					<%= check_box_tag 'size_id', size.id -%>
	  					<label><%= size.title %></label>
  					</div>
				<% end %>
	            
	        </div>
	    </div>