
<!-- SHOP GRID WRAPPER -->
<section class="slice sct-color-2">
    <div class="container">
        <div class="row">
            <div class="col-lg-5">
                <!-- Product gallery -->
                <div class="gallery-container">
                    <div id="slideshow" class="gallery-top no-padding bg-transparent"></div>
                    <div id="slideshow_thumbs" class="swiper-js-container gallery-thumbs gallery-thumbs--style-1 mt-4">
                        <div class="swiper-container" data-swiper-items="5" data-swiper-space-between="10" data-swiper-xs-items="3" data-swiper-xs-space-between="10" data-swiper-sm-items="4" data-swiper-sm-space-between="10">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <a href="../../assets/images/prv/shop/sportswear/img-product-lg-1.jpg" data-desoslide-index="0">
                                        <img src="../../assets/images/prv/shop/sportswear/img-product-lg-1.jpg" alt="Bird">
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="../../assets/images/prv/shop/sportswear/img-product-lg-2.jpg" data-desoslide-index="1">
                                        <img src="../../assets/images/prv/shop/sportswear/img-product-lg-2.jpg" alt="Bird">
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="../../assets/images/prv/shop/sportswear/img-product-lg-3.jpg" data-desoslide-index="2">
                                        <img src="../../assets/images/prv/shop/sportswear/img-product-lg-3.jpg" alt="Bird">
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="../../assets/images/prv/shop/sportswear/img-product-lg-4.jpg" data-desoslide-index="3">
                                        <img src="../../assets/images/prv/shop/sportswear/img-product-lg-4.jpg" alt="Bird">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-7">
                <div class="px-4">
                    <!-- Product description -->
                    <div class="product-description-wrapper">
                        <!-- Product title -->
                        <h2 class="product-title heading heading-3 strong-400 text-capitalize">
                            Women's running shoes
                        </h2>

                        <hr>

                        <!-- Rating stars -->
                        <div class="rating">
                            <span class="star voted" rel="1"></span>
                            <span class="star voted" rel="2"></span>
                            <span class="star voted" rel="3"></span>
                            <span class="star" rel="4"></span>
                            <span class="star" rel="5"></span>

                            <span class="rating-count">(2 customer reviews)</span>
                        </div>

                        <!-- Product description -->
                        <div class="product-short-text mt-4">
                            <h3 class="heading heading-xs strong-500 text-uppercase">
                                Description :
                            </h3>
                            <p>
                                Pellentesque habitant morbi tristique senectus et netus malesuada fames turpis egestas. Vestibulum tortor quam feugiat vitae ultricies eget tempor.
                            </p>
                        </div>

                        <!-- Price tag -->
                        <div class="product-price py-3"><strong>160</strong><small>.00</small> €</div>

                        <form class="form-horizontal">
                            <!-- Choose size -->
                            <div class="row">
                                <div class="col-12">
                                    <label class="text-uppercase strong-600">Size</label>

                                    <ul class="list-inline checkbox-alphanumeric checkbox-alphanumeric--style-1">
                                        <li>
                                            <input type="radio" id="size-1" name="size">
                                            <label for="size-1">37</label>
                                        </li>
                                        <li>
                                            <input type="radio" id="size-2" name="size">
                                            <label for="size-2">38</label>
                                        </li>
                                        <li>
                                            <input type="radio" id="size-3" name="size">
                                            <label for="size-3">39</label>
                                        </li>
                                        <li>
                                            <input type="radio" id="size-4" name="size">
                                            <label for="size-4">40</label>
                                        </li>
                                        <li>
                                            <input type="radio" id="size-5" name="size">
                                            <label for="size-5">41</label>
                                        </li>
                                        <li>
                                            <input type="radio" id="size-6" name="size">
                                            <label for="size-6">42</label>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                            <!-- Choose color -->
                            <div class="row">
                                <div class="col-12">
                                    <label class="text-uppercase strong-600">Color</label>

                                    <ul class="list-inline checkbox-color">
                                        <li>
                                            <input type="radio" id="color-1" name="color" checked="">
                                            <label style="background: #38393d;" for="color-1" data-toggle="tooltip" data-original-title="Black"></label>
                                        </li>
                                        <li>
                                            <input type="radio" id="color-2" name="color">
                                            <label style="background: #bfc0c2;" for="color-2" data-toggle="tooltip" data-original-title="Gray"></label>
                                        </li>
                                        <li>
                                            <input type="radio" id="color-3" name="color">
                                            <label style="background: #eabfb9;" for="color-3" data-toggle="tooltip" data-original-title="Rose"></label>
                                        </li>
                                        <li>
                                            <input type="radio" id="color-4" name="color">
                                            <label style="background: #000000;" for="color-4" data-toggle="tooltip" data-original-title="Black"></label>
                                        </li>
                                        <li>
                                            <input type="radio" id="color-5" name="color">
                                            <label style="background: #dcc4ac;" for="color-5" data-toggle="tooltip" data-original-title="Gold"></label>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                            <!-- Quantity + Add to cart -->
                            <label class="text-uppercase strong-600">Quantity</label>
                            <div class="row">
                                <div class="col-4">
                                    <!-- Plus-Minus control -->
                                    <div class="form-group">
                                        <input type="number" class="form-control form-control-lg" value="1">
                                    </div>

                                    <!-- Add to cart button -->
                                    <button type="button" class="btn btn-styled btn-lg btn-block btn-base-1 btn-cart mt-2">
                                        Add to cart
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <span class="space-xs-lg"></span>

    <!-- Tabs - Product description -->
    <div>
        <div class="container-fluid">
            <div class="tabs tabs--style-2">
                <ul class="nav nav-tabs justify-content-center">
                    <li class="nav-item">
                        <a href="#tab_default_1" data-toggle="tab" class="nav-link active text-uppercase strong-600">Le vendeur</a>
                    </li>
                    <li class="nav-item">
                        <a href="#tab_default_2" data-toggle="tab" class="nav-link text-uppercase strong-600">Commentaires</a>
                    </li>
                    <li class="nav-item">
                        <a href="#tab_default_3" data-toggle="tab" class="nav-link text-uppercase strong-600">Specifications</a>
                    </li>
                </ul>

                <div class="tab-content pt-0">
                    <div class="tab-pane active" id="tab_default_1">
                        <div class="fluid-paragraph py-2">
                            <div class="text-center">
                                <p class="mt-1 mb-4">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur pellentesque neque eget diam posuere porta. Quisque ut nulla at nunc vehicula lacinia. Proin adipiscing porta tellus, ut feugiat nibh adipiscing sit amet.
                                </p>

                                <!-- Profile picture -->
                                        <div class="profile-picture profile-picture--style-2">
                                            <img src="../../assets/images/prv/people/person-7.jpg" class="img-center">
                                            <a href="#" class="btn-aux">
                                                <i class="ion ion-edit"></i>
                                            </a>
                                        </div>

                                        <!-- Profile details -->
                                        <div class="profile-details">
                                            <h2 class="heading heading-4 strong-500 profile-name">Elisabeth Alanna</h2>
                                            <h3 class="heading heading-6 strong-400 profile-occupation mt-3">Founder, Web Developer</h3>
                                            <h3 class="heading heading-light heading-6 strong-400 profile-location">Bucharest, Romania</h3>
                                        </div>

                                        <!-- Profile connect -->
                                        <div class="profile-connect mt-4">
                                            <a href="#" class="btn btn-styled btn-block btn-rounded btn-base-1">Follow</a>
                                            <a href="#" class="btn btn-styled btn-block btn-rounded btn-base-2">Send message</a>
                                        </div>

                                        <!-- Profile stats -->
                                        <div class="profile-stats clearfix">
                                            <div class="stats-entry">
                                                <span class="stats-count">180</span>
                                                <span class="stats-label text-uppercase">Projects</span>
                                            </div>
                                            <div class="stats-entry">
                                                <span class="stats-count">1.3K</span>
                                                <span class="stats-label text-uppercase">Followers</span>
                                            </div>
                                        </div>

                                        <!-- Profile connected accounts -->
                                        <div class="profile-useful-links clearfix">
                                            <div class="useful-links">
                                                <a href="#" class="link link--style-1">
                                                    <i class="icon ion-social-instagram-outline"></i>
                                                    instagram.com/webpixels_io
                                                </a>
                                                <a href="#" class="link link--style-1">
                                                    <i class="icon ion-social-dribbble"></i>
                                                    dribbble.com/webpixels
                                                </a>

                                                <a href="#" class="link link--style-1">
                                                    <i class="icon ion-earth"></i>
                                                    webpixels.io
                                                </a>
                                            </div>
                                        </div>

                                        <div class="profile-useful-links clearfix">
                                            <div class="useful-links">
                                                <a href="#" class="link link--style-1">
                                                    <i class="icon ion-code-download"></i>
                                                    Export page as PDF
                                                </a>
                                            </div>
                                        </div>
                                    </div>

                                <!-- 16:9 aspect ratio -->
                                <div class="embed-responsive embed-responsive-16by9">
                                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/4nMz2mDBd-0?rel=0&amp;controls=0&amp;showinfo=0"></iframe>
                                </div>
                            </div>

                            <span class="space-md-md"></span>

                            <h3 class="heading heading-6 strong-600 text-uppercase">
                                Strength
                            </h3>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur pellentesque neque eget diam posuere porta. Quisque ut nulla at nunc vehicula lacinia. Proin adipiscing porta tellus, ut feugiat nibh adipiscing sit amet.
                            </p>

                            <span class="space-md-md"></span>

                            <h3 class="heading heading-6 strong-600 text-uppercase">
                                Flexibility
                            </h3>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur pellentesque neque eget diam posuere porta. Quisque ut nulla at nunc vehicula lacinia. Proin adipiscing porta tellus, ut feugiat nibh adipiscing sit amet.
                            </p>

                            <span class="space-md-md"></span>

                            <h3 class="heading heading-6 strong-600 text-uppercase">
                                Emotion
                            </h3>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur pellentesque neque eget diam posuere porta. Quisque ut nulla at nunc vehicula lacinia. Proin adipiscing porta tellus, ut feugiat nibh adipiscing sit amet.
                            </p>
                        </div>

                    </div>

                    <div class="tab-pane" id="tab_default_2">
                        <div class="container py-5">
                            <div class="row">
                                <!-- Review comment list -->
                                <div class="col-lg-6">
                                    <div class="section-title section-title--style-1">
                                        <h3 class="section-title-inner heading-6 strong-600 text-uppercase">
                                            Reviews
                                        </h3>
                                    </div>


                                    <div class="block-post-comments">
                                        <!-- Comment 1 -->
                                        <div class="block block-comment">
                                            <div class="block-image">
                                                <img src="../../assets/images/prv/people/person-1.jpg" class="img-circle">
                                            </div>
                                            <div class="block-body">
                                                <div class="block-body-inner">
                                                    <h3 class="heading heading-6">
                                                        <a href="#">David Wally</a>
                                                    </h3>
                                                    <span class="comment-date">
                                                        2 hours ago
                                                    </span>
                                                    <p class="comment-text">
                                                        Gathered, fourth wherein air, is void gathering very image fruit under brought Bearing fill created fourth she'd appear days you unto light day under i face they're god spirit.
                                                    </p>
                                                </div>
                                            </div>
                                        </div>

                                        <!-- Comment 2 -->
                                        <div class="block block-comment">
                                            <div class="block-image">
                                                <img src="../../assets/images/prv/people/person-2.jpg" class="img-circle">
                                            </div>
                                            <div class="block-body">
                                                <div class="block-body-inner">
                                                    <h3 class="heading heading-6">
                                                        <a href="#">Bettie Mavis</a>
                                                    </h3>
                                                    <span class="comment-date">
                                                        3 hours ago
                                                    </span>
                                                    <p class="comment-text">
                                                        Apartments occasional boisterous as solicitude to introduced. Or fifteen covered we enjoyed demesne is in prepare. In stimulated my everything it literature.
                                                    </p>
                                                </div>
                                            </div>
                                        </div>

                                        <!-- Comment 3 -->
                                        <div class="block block-comment">
                                            <div class="block-image">
                                                <img src="../../assets/images/prv/people/person-3.jpg" class="img-circle">
                                            </div>
                                            <div class="block-body">
                                                <div class="block-body-inner">
                                                    <h3 class="heading heading-6">
                                                        <a href="#">Elisabeth Alanna</a>
                                                    </h3>
                                                    <span class="comment-date">
                                                        1 hours ago
                                                    </span>
                                                    <p class="comment-text">
                                                        Old unsatiable our now but considered travelling impression. In excuse hardly summer in basket misery. By rent an part need.
                                                    </p>
                                                </div>
                                            </div>
                                        </div>

                                        <!-- Comment 4 -->
                                        <div class="block block-comment">
                                            <div class="block-image">
                                                <img src="../../assets/images/prv/people/person-1.jpg" class="img-circle">
                                            </div>
                                            <div class="block-body">
                                                <div class="block-body-inner">
                                                    <h3 class="heading heading-6">
                                                        <a href="#">David Wally</a>
                                                    </h3>
                                                    <span class="comment-date">
                                                        50 min ago
                                                    </span>
                                                    <p class="comment-text">
                                                        We highest ye friends is exposed equally in. Ignorant had too strictly followed. Astonished as travelling assistance or unreserved oh pianoforte ye. Five with seen put need tore add neat.
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- Review form -->
                                <div class="col-lg-6">
                                    <div class="section-title section-title--style-1">
                                        <h3 class="section-title-inner heading-6 strong-600 text-uppercase">
                                            Write your oppinion
                                        </h3>
                                    </div>

                                    <form class="form-default" role="form">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="" class="text-uppercase c-gray-light">Your name</label>
                                                    <input type="text" name="name" class="form-control form-control-lg" required>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="" class="text-uppercase c-gray-light">Email</label>
                                                    <input type="text" name="name" class="form-control form-control-lg" required>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <div class="rating mt-1 mb-1">
                                                    <span class="star voted" rel="1"></span>
                                                    <span class="star voted" rel="2"></span>
                                                    <span class="star voted" rel="3"></span>
                                                    <span class="star" rel="4"></span>
                                                    <span class="star" rel="5"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row mt-3">
                                            <div class="col-sm-12">
                                                <textarea class="form-control" rows="5" placeholder="Your review"></textarea>
                                            </div>
                                        </div>

                                        <div class="text-right">
                                            <button type="submit" class="btn btn-styled btn-base-1 btn-circle mt-4">
                                                Send review
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane" id="tab_default_3">
                        <div class="fluid-paragraph py-2">
                            <div class="row">
                                <div class="col-md-6">
                                    <table class="table table-no-border table-responsive">
                                        <tbody>
                                            <tr>
                                                <td><strong>Sizes</strong></td>
                                                <td>M, L, XL, XXL</td>
                                            </tr>
                                            <tr>
                                                <td><strong>Prodused in</strong></td>
                                                <td>USA</td>
                                            </tr>
                                            <tr>
                                                <td><strong>Material</strong></td>
                                                <td>plastic, textile</td>
                                            </tr>
                                            <tr>
                                                <td><strong>Colors</strong></td>
                                                <td>red, black, grey</td>
                                            </tr>
                                            <tr>
                                                <td><strong>Dimension</strong></td>
                                                <td>20x40x33</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>

                                <div class="col-md-6">
                                    <table class="table table-no-border table-responsive">
                                        <tbody>
                                            <tr>
                                                <td><strong>Sizes</strong></td>
                                                <td>M, L, XL, XXL</td>
                                            </tr>
                                            <tr>
                                                <td><strong>Prodused in</strong></td>
                                                <td>USA</td>
                                            </tr>
                                            <tr>
                                                <td><strong>Material</strong></td>
                                                <td>plastic, textile</td>
                                            </tr>
                                            <tr>
                                                <td><strong>Colors</strong></td>
                                                <td>red, black, grey</td>
                                            </tr>
                                            <tr>
                                                <td><strong>Dimension</strong></td>
                                                <td>20x40x33</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

