



    <!-- Footer -->
    <footer id="footer" class="footer ">
    <div class="footer-bottom py-4">
        <div class="container">
            <div class="row cols-xs-space col-sm-space align-items-center">
                <div class="col-lg-3 col-12">
                    <div class="text-center text-lg-left">
                        <div class="copyright">
                            <ul class="copy-links no-margin">
                                <li>
                                   © Trois petits chats
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="text-center">
                        <ul class="footer-menu footer-menu-sm">
                          
                            <li>
                                <a href="https://instagram.com/" target="_blank" style="padding-left: 0;">Instagram</a>
                            </li>
                            <li>
                                <a href="https://facebook.com/" target="_blank" style="padding-left: 0;">Facebook</a>
                            </li>
                            <li>
                                <a href="#" target="_blank">RGPD</a>
                            </li>
                            <li>
                                <a href="#" target="_blank">FAQ</a>
                            </li>
                              <li>
                                <a href="#" target="_blank">Contact</a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="col-lg-3">
                    <div class="text-center text-lg-right">
                        <ul class="social-media social-media--style-1-v4">
                            <li>
                                <a href="https://www.facebook.com/" class="facebook" target="_blank" data-original-title="Facebook">
                                   <i class="fab fa-facebook-square"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.instagram.com/" class="instagram" target="_blank"  data-original-title="Instagram">
                               <i class="fab fa-instagram"></i>

                                </a>
                            </li>
                            
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>