

    <!-- Footer -->
    <footer id="footer" class="footer ">
    <div class="footer-bottom py-4">
        <div class="container">
            <div class="row cols-xs-space col-sm-space align-items-center">
                <div class="col-lg-3 col-12">
                    <div class="text-center text-lg-left">
                        <div class="copyright">
                            <ul class="copy-links no-margin">
                                <li>
                                    &copy; 2018 Webpixels
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="text-center">
                        <ul class="footer-menu footer-menu-sm">
                            <li>
                                <a href="https://webpixels.io" target="_blank" style="padding-left: 0;">Official website</a>
                            </li>
                            <li>
                                <a href="https://instagram.com/webpixels.io" target="_blank" style="padding-left: 0;">Instagram</a>
                            </li>
                            <li>
                                <a href="https://facebook.com/webpixels" target="_blank" style="padding-left: 0;">Facebook</a>
                            </li>
                            <li>
                                <a href="http://support.wrapbootstrap.com/knowledge_base/topics/usage-licenses" target="_blank">License</a>
                            </li>
                            <li>
                                <a href="https://goo.gl/9BbH7R" target="_blank">Buy now</a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="col-lg-3">
                    <div class="text-center text-lg-right">
                        <ul class="social-media social-media--style-1-v4">
                            <li>
                                <a href="https://www.facebook.com/webpixels/" class="facebook" target="_blank" data-original-title="Facebook">
                                    <i class="fa fa-facebook"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.instagram.com/webpixels.io/" class="instagram" target="_blank"  data-original-title="Instagram">
                                    <i class="fa fa-instagram"></i>
                                </a>
                            </li>
                            
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>