
    <!-- Footer -->
    <footer id="footer" class="footer ">
    <div class="footer-bottom py-4">
        <div class="container">
            <div class="row cols-xs-space col-sm-space align-items-center">
                <div class="col-lg-3 col-12">
                    <div class="text-center text-lg-left">
                        <div class="copyright">
                            <ul class="copy-links no-margin">
                                <li>
                                   © Badaboum
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="text-center text-lg-left">
                        <div class="copyright">
                            <ul class="copy-links no-margin text-center">
                                <li>
                                 Fait avec <i class="far fa-heart"></i> par Max, Clodiap, Vivi, Babass et Apouille
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3">
                    <div class="text-center text-lg-right">
                        <ul class="social-media social-media--style-1-v4">
                            <li>
                                <a href="https://rubyonrails.org/doctrine/" target="_blank">
                                   <i class="fab fa-sketch"></i> 
                                </a>
                            </li>
                            <li>
                                <a href="https://stripe.com/connect?locale=fr" target="_blank">
                                   <i class="fab fa-stripe"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://github.com/apouille/Badaboum" target="_blank">
                               <i class="fab fa-github"></i>                               
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
